<div class="grid">
	<div class="currentTurn"> 
		{{gameMessage}}
	</div>
	<table class="table" style="border-collapse: collapse">
		<tbody>
			<tr *ngFor="let row of grids; let i = index" class="row-{{i}}">
				<th *ngFor="let col of row; let j = index" class="col-{{j}}" (click)="cellClicked(i, j)">
					<ng-container [ngSwitch]="grids[i][j]">
						<ng-container *ngSwitchCase="0" > O </ng-container>
						<ng-container *ngSwitchCase="1" > X </ng-container>
					</ng-container>
				</th>
			</tr>
		</tbody>
	</table>
</div>