<div class="grid">
	<div class="currentTurn"> 
		{{gameMessage}}
	</div>
	<table class="table" style="border-collapse: collapse">
		<tbody>
			<tr *ngFor="let row of grids; let i = index" class="row-{{i}}">
				<td
					*ngFor="let col of row; let j = index"
					[className]="getClasses(i, j)"
					(click)="cellClicked(i, j)"
				>
					<ng-container [ngSwitch]="grids[i][j]">
						<div class="gridText" *ngSwitchCase="0" > O </div>
						<div class="gridText" *ngSwitchCase="1" > X </div>
					</ng-container>
				</td>
			</tr>
		</tbody>
	</table>
</div>